<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app" class="main">
    <div class="row">
        <div v-for="item in items" v-on:click="step(item)" class="item right bottom">
            <div v-if="item.checked">
                {{item.piece}}
            </div>
        </div>
    </div>
    <div class="module" v-if="selected">
        <div class="module-main">
            <h2>please select X OR O</h2>
            <hr>
            <button v-on:click="choose('X')">X</button>
            <button v-on:click="choose('O')">O</button>
        </div>
    </div>
</div>

<script src="vue.js"></script>
<script src="app.js"></script>
</body>
</html>